<h1>Student Classes</h1>

<ul>
    <% @all_student_classes.each do |student_class| %>

        <li>
            <%= student_class.student.to_s %>  --- Enrolled: <%= student_class.school_class.title %>
        </li>

    <%end%>
</ul>
