<h1> Show Details </h1>

  <p>  <%= @student_class_to_show.student.to_s %> ---- Enrolled in: <%= @student_class_to_show.school_class.title %> Enrolled on: <%= @student_class_to_show.created_at.to_s %> </p>

